@model DemoMvc_213.Models.Student

<h2>Nhập thông tin sinh viên</h2>
<form method="post" asp-action="CreateStudent" asp-controller="Demo">
    <label>Mã sinh viên:</label><br />
    <input type="number" name="Id" required /><br /><br />

    <label>Họ tên:</label><br />
    <input type="text" name="Name" required /><br /><br />

    <label>Tuổi:</label><br />
    <input type="number" name="Age" required /><br /><br />

    <label>Ngành học:</label><br />
    <input type="text" name="Major" required /><br /><br />

    <button type="submit">Gửi dữ liệu</button>
</form>

