<h2>Nhập thông tin người dùng</h2>

<form method="post" asp-action="Hello" asp-controller="Demo">
    <label>Họ và tên:</label><br />
    <input type="text" name="name" required /><br /><br />

    <label>Năm sinh:</label><br />
    <input type="number" name="year" required /><br /><br />

    <button type="submit">Gửi</button>
</form>

@if (ViewBag.Message != null)
{
    <h3 style="color:green">@ViewBag.Message</h3>
}
