@{
    ViewData["Title"] = "Bài tập buổi 3";
}

<h1>@ViewData["Title"]</h1>
<p>Vì Quang Huy-2121050213</p>
<hr />

<h3>Nội dung buổi học số 3</h3>
<ul>
    <li>Tạo Project .NET MVC bằng <code>dotnet new mvc -n DemoMvc_213</code></li>
    <li>Tìm hiểu namespace và cách đặt tên</li>
    <li>Tạo Controller và View</li>
    <li>Định tuyến (Route) trong MVC</li>
    <li>IActionResult và các kiểu trả về</li>
</ul>
